svg path {
  fill: inherit;
}

/* font and background color specifications */
svg.keymap {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  fill: #292524;
}

/* default key styling */
rect.key {
  fill: #fafaf9;
  stroke: #d6d3d1;
  stroke-width: 1;
}

/* default key side styling, only used is draw_key_sides is set */
rect.side {
  filter: brightness(90%);
}

/* color accent for combo boxes */
rect.combo, rect.combo-separate {
  fill: #cdf;
}

/* color accent for held keys */
rect.held, rect.combo.held {
  fill: #fdd;
}

/* color accent for ghost (optional) keys */
rect.ghost, rect.combo.ghost {
  stroke-dasharray: 4, 4;
  stroke-width: 2;
}

text {
  text-anchor: middle;
  dominant-baseline: middle;
}

/* styling for layer labels */
text.label {
  font-weight: bold;
  text-anchor: start;
  stroke: white;
  stroke-width: 2;
  paint-order: stroke;
}

/* styling for combo tap, and key hold/shifted label text */
text.combo, text.hold, text.shifted {
  font-size: 11px;
}

text.hold {
  text-anchor: middle;
  dominant-baseline: auto;
}

text.shifted {
  text-anchor: middle;
  dominant-baseline: hanging;
}

/* styling for hold/shifted label text in combo box */
text.combo.hold, text.combo.shifted {
  font-size: 8px;
}

/* styling for combo dendrons */
path.combo {
  stroke-width: 1;
  stroke: #78716c;
  fill: none;
}

g.trans {
  opacity: 0.7;
}
g.trans text, g.trans .glyph {
  opacity: 0.1;
}

/* Start Tabler Icons Cleanup */
/* cannot use height/width with glyphs */
.icon-tabler > path {
  fill: inherit;
  stroke: inherit;
  stroke-width: 2;
}

/* hide tabler's default box */
.icon-tabler > path[stroke=none][fill=none] {
  visibility: hidden;
}

/* End Tabler Icons Cleanup */
.rsym rect {
  stroke: #86198f;
}
.rsym .glyph, .rsym text {
  fill: #86198f;
}

.rlayer rect {
  stroke: #65a30d;
  fill: #f7fee7;
}
.rlayer .glyph, .rlayer text {
  fill: #65a30d;
}
.rlayer .glyph, .rlayer-held .glyph {
  transform: scale(1.5);
}
.rlayer-held rect {
  stroke: #65a30d;
  fill: #65a30d;
}
.rlayer-held .glyph, .rlayer-held text {
  fill: white;
}

.rmod rect {
  stroke: #be123c;
}
.rmod .glyph, .rmod text {
  fill: #be123c;
}

rect.held, rect.combo.held {
  stroke: #65a30d;
  fill: #65a30d;
}

rect.combo, rect.combo-separate {
  fill: #d4d4d4;
  opacity: 0.7;
}

.key.shifted, .key.hold {
  opacity: 0.6;
}

text.label {
  transform: translate(0, 20px);
  transform: translate(0, 20);
}

text.key.shifted {
  transform: translate(0, 2px);
  transform: translate(0, 2);
}

.keypos-38 rect, .keypos-39 rect {
  stroke: #65a30d;
  fill: #f7fee7;
}
.keypos-38 text, .keypos-38 .glyph, .keypos-39 text, .keypos-39 .glyph {
  fill: #65a30d;
}
.keypos-38 rect.held, .keypos-39 rect.held {
  stroke: #65a30d;
  fill: #65a30d;
}

.layer-base g.key.keypos-13 .key.hold, .layer-base g.key.keypos-14 .key.hold, .layer-base g.key.keypos-15 .key.hold, .layer-base g.key.keypos-16 .key.hold, .layer-base g.key.keypos-19 .key.hold, .layer-base g.key.keypos-20 .key.hold, .layer-base g.key.keypos-21 .key.hold, .layer-base g.key.keypos-22 .key.hold {
  fill: #be123c;
}

.layer-lower g.key.keypos-3 .key.hold, .layer-lower g.key.keypos-4 .key.hold, .layer-lower g.key.keypos-5 .key.hold, .layer-lower g.key.keypos-29 .key.hold {
  fill: #0369a1;
}

.layer-tri .key.tap.glyph.tabler__volume, .layer-tri .key.tap.glyph.tabler__volume-2, .layer-tri .key.tap.glyph.tabler__volume-3, .layer-tri .key.tap.glyph.tabler__player-track-next, .layer-tri .key.tap.glyph.tabler__player-track-prev, .layer-tri .key.tap.glyph.tabler__player-play, .layer-tri .key.tap.glyph.tabler__sun-high, .layer-tri .key.tap.glyph.tabler__sun-low {
  transform: scale(1.2);
}

.icon-tabler-volume > path, .icon-tabler-volume-2 > path, .icon-tabler-volume-3 > path, .icon-tabler-player-track-next > path, .icon-tabler-player-track-prev > path, .icon-tabler-player-play > path, .icon-tabler-sun-high > path, .icon-tabler-sun-low > path {
  stroke-width: 1.5;
}
